.button {
  background-color: black; /*var(--color-black);*/
  color: green; /*var(--color-green); */
  font-family: "Poppins";
  border-radius: 8px; /* ensure the radius matches Figma */
  padding: 12px 24px; /* adjust padding based on Figma */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
}
