.hero {
  background-color: var(--color-black);
  height: 270px;
  width: 1282px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .hero_image {
  padding: 20px;
} */
